<configuration>
    <appender name="STDIO" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
<!--    <appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
<!--        <file>server.log</file>-->
<!--        <append>true</append>-->
<!--        <encoder>-->
<!--            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->
    <root level="trace">
        <appender-ref ref="STDIO"/>
        <appender-ref ref="FILE"/>
    </root>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="io.zonky.test.db.postgres.embedded.EmbeddedPostgres" level="ERROR"/>
    <logger name="io.zonky.test.db.postgres.embedded.DefaultPostgresBinaryResolver" level="ERROR"/>
    <logger name="Exposed" level="ERROR"/>
</configuration>
