
.room-list-time {
    margin-bottom: 30px;
}

.room-list {
    height: 100%;
}

.room-row {
    display: flex;
    margin-bottom: 30px;
}

.room-row-number {
    width: 150px;
    height: 40px;
    flex-shrink: 0;

    border-radius: 2px;
    border: 1px solid var(--ide-border-grey, #4F5258);
    background: var(--idea-backgound, #2B2D30);

    text-align: center;
}

.room-row-link {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.room-row-desc {
    text-align: center;

    margin-left: 40px;

    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}