.edit-room-row {
    width: 100%;
    margin-bottom: 10px;
}

.edit-room-row-id {
    width: 10%;
}

.edit-room-row-name {
    color: #f2f3f5;
    background: #1E1F22;
}

.edit-room-row-desc {
    color: #f2f3f5;
    background: #1E1F22;
}

.edit-room-row-update {
    color: #f2f3f5;
    background: darkgreen;
}

.edit-room-row-reset {
    color: #f2f3f5;
    background: #1E1F22;
}

.edit-room-row-delete {
    color: #f2f3f5;
    background: darkred;
    right: 0;
    position: relative;
}

.add-room-row {
    width: 100%;
    margin-top: 40px;
}

.add-room-row-name {
    color: #f2f3f5;
    background: #1E1F22;
}

.add-room-row-desc {
    color: #f2f3f5;
    background: #1E1F22;
}

.add-room-row-add {
    color: #f2f3f5;
    background: green;
    right: 0;
    position: relative;
}