.content-wrapper {
    height: 100%;
    width: 100%;
}

.content-wrapper-content {
    margin: 50px 100px 100px 100px;
}

.content-wrapper-content-name {
    padding: 10px 25px 10px 25px;
    font-size: 30px;
    color: white;
    width: 30%;
    
    border-radius: 2px;
    border-top: 3px solid var(--idea-border-black, #1E1F22);
    border-right: 3px solid var(--idea-border-black, #1E1F22);
    border-left: 3px solid var(--idea-border-black, #1E1F22);

    text-align: center;
    /* display: flex; */
}

.content-wrapper-content-border {
    border-radius: 2px;
    border-top: 3px solid var(--idea-border-black, #1E1F22);
    border-right: 3px solid var(--idea-border-black, #1E1F22);
    border-left: 3px solid var(--idea-border-black, #1E1F22);
    border-bottom: 3px solid var(--idea-border-black, #1E1F22);
}

.content-wrapper-content-data {
    margin: 20px 40px 20px 40px;
}